.form{
    background-color: white;
    width: 30%;
    /* box-shadow: 0px 0px 5px; */
    height: 300px;
    text-align: center;
    /* padding: 10% 10%; */
    margin: 3% 35%;
}
.name{
    margin-right: 32%;
    font-size: 18px;
}
.firstinputname{
    padding: 10px;
    width: 60%;
}
.lastinputname{
    padding: 10px;
    width: 60%;
}
.number{
font-size: 17px;
margin-right:22% ;
}
.inputnum{
    padding: 10px;
    width: 60%;

}
.email{
    margin-right: 38%;
font-size: 18px;
}
.inputemail{
    padding: 10px;
    width: 60%;
}
.address{
font-size: 17px;
margin-right: 36%;
}
.inputaddress{
    padding: 10px;
    width: 60%;
}
.btn{
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: black;
    width: 40%;
    padding: 10px;
    margin-top: 25px;
    font-size: 20px;
}
.word{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0px;
}